<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="RestAPI_GET_POST.RestAPIEmployeePost"/>
      <class name="RestAPI_GET_POST.RestAPIPost"/>
      <class name="RestAPI_GET_POST.RestAPIreqresPost"/>
      <class name="RestAPI_GET_POST.RestTestGETCityWeather"/>
      <class name="RestAPI_GET_POST.RestTestGETemployees"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
